#nav-bar{
    background-color: #24135f;
    color: green;
    padding: 5px;
    width: 100%;
    height: 5rem;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
}


body{
    margin: 0;
}

#left{
    display: inline-block;
}

#header-img{
    position: relative;
    margin-left: 240px;
    top: 5px;
    width: 9rem;
    height: 6rem;
    border: white 1px solid;
    border-radius: 5px;  
}

#right{
    float: right;
    position: relative;
    right: 140px;
    margin-right: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

#right a{
    color: white;
    text-decoration: none;
    margin: 15px;
    transition: 0.3s
}

#right a:hover{
    color: green;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
#bg{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 490px;
    top: 5rem;
    border: white solid 1px;
}

#brands{
    display: flex;
    position: relative;
    margin-top: 500px;
    height: 200px;
    flex-wrap: wrap;
    gap: 20px;  
}

#brands{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 0;
    width: 100%;
}


h3{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS';
    margin-bottom: 0;
}

h5{
    font-family: 'Trebuchet MS';
}

#center1{
    margin-left: 2px;
}

#center2{
    margin-left: 38px;
}

#center3{
    margin-left: 47px;
}

a{
    padding: 12px;
    border-radius: 5px;
    margin-left: 20px
}

/* For Learn More links */
#meter{
    background-color: rgb(30, 100, 30);
    color: white;
    margin-left: 9px;
    padding-top: 5px;
    text-decoration: none;
}

#cndo{
    background-color: rgb(63, 113, 179);
    color: white;
    margin-left: 60px;
    padding-top: 5px;
    text-decoration: none;
}

#grnd{
    background-color: #24135f;
    color: white;
    margin-left: 50px;
    padding-top: 5px;
    text-decoration: none;
}

/* End of Learn More Links */

#our{
    color: #24135f;
    margin-bottom: 0;
}

#metro{
    color: rgb(30, 100, 30);
    margin-bottom: 0;
}

#condo{
    color: rgb(63, 113, 179);
    margin-bottom: 0;
}

#grand{
    color:#24135f;
    margin-bottom: 0;
}

#meter:hover{
    background-color: #24135f;
    color: white;
}

#cndo:hover{
    background-color: rgb(30, 100, 30);
    color: white;
}

#grnd:hover{
    background-color: rgb(63, 113, 179);
    color: white;
}

#tagline{
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
    justify-content: center;
    margin-top: -10px;
    margin-left: 5%;
    margin-right: 5%;
    color: gray;
    margin-bottom: 0
}

#video{ 
    display: flex;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 60px;
}

#projectinfocus{
    display: block;
    place-self: center;
    font-family: 'Trebuchet MS';
    font-size: 2.5rem;
    color: blue;
    z-index: 1000;
    margin-bottom: 40px;
}

/* css for slide */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #ffff;
    font-weight: 800;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    width: 70%;
    text-align: center;
    font-family: 'Trebuchet MS';
    z-index: 2; /* Ensure text is above the background */
}

.carouselt{
    margin-top: 0;
}

.text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(53, 167, 53, 0.6); /* Semi-transparent background */
    z-index: -1; /* Ensure background is behind the text */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 100px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* back to top */

#scrolltop{
    position: fixed;
    bottom: 70px;
    right: 30px;
    border-radius: 5px;

}

#scrolltop a{
    background-color: rgba(36, 19, 95, 0.8);
    text-decoration: none;
    color: #ffff;
    padding: 12px;
}

#scrolltop a:hover{
    background-color: #24135f;
    color: #ffff;
    text-decoration: underline;
}

/* About Us Page styling */

#aboutus-container{
    height: auto;
    width: 95%;
    justify-content: center;
    margin-inline: 100px;
    font-family: 'Lato', sans-serif;
    margin-right: 350px;
}

#aboutus{
    color: rgb(1, 1, 110);
    font-size: 2.8rem;
    margin-top: -10px; 
    position: relative;

}

#legacy{
    color: rgb(2, 3, 129);
    font-size: 1.5rem;
    margin-top: -30px; 
    margin-bottom: 0;
}

#about-paragraph{
    font-size: 1rem;
    color: #717171;
    line-height: 1.3;
    margin-right: 350px;
}

#every{
    color: rgb(2, 3, 129);
    font-size: 1.5rem;
    margin-top: -10px; 
    margin-bottom: 0;
}

#about-paragraph2{
    font-size: 1rem;
    color: #5e5b5b;
    line-height: 1.3;
    margin-right: 350px;
}

#lastparagraph{
    font-size: 1rem;
    color: #5e5b5b;
    line-height: 1.3;
    margin-right: 50px;
}

#mona{
    position: absolute;
    width: 220px;
    height: 320px;
    right: 60px;
    top: 820px

}

#promise{
    color: rgb(2, 3, 129);
    font-size: 1.5rem;
    margin-top: 30px; 
    margin-bottom: 0;
    margin-left: 400px;
    padding-top: 10px;

}

#promise-paragraph{
    font-size: 1rem;
    color: #5e5b5b;
    line-height: 1.3;
    margin-left: 400px;
    margin-right: 50px;
    margin-bottom: 50px;

}

#family{
    position: absolute;
    width: 370px;
    height: 250px;
    left: 100px;
    top: 1330px;

}

/* bottom brand styling */

#bottom-brand{
    display: flex;
    position: relative;
    margin-top: 0;
    height: 200px;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #cfcbdb;
}

#bottom-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    margin-bottom: 0;
}

h3{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS';
    margin-bottom: 0;
}

h5{
    font-family: 'Trebuchet MS';
}

#botcenter1{
    margin-left: 2px;
}

#botcenter2{
    margin-left: 38px;
}

#botcenter3{
    margin-left: 47px;
}

a{
    padding: 12px;
    border-radius: 5px;
    margin-left: 20px;

}

/* For Learn More links bottom */
#botmeter{
    background-color: rgb(30, 100, 30);
    color: white;
    margin-left: 9px;
    padding-top: 5px;
    text-decoration: none;

}

#botcndo{
    background-color: rgb(63, 113, 179);
    color: white;
    margin-left: 60px;
    padding-top: 5px;
    text-decoration: none;
}

#botgrnd{
    background-color: #24135f;
    color: white;
    margin-left: 50px;
    padding-top: 5px;
    text-decoration: none;
}

/* End of Learn More Links bottom*/

#botour{
    color: #24135f;
    margin-bottom: 0;
}

#botmetro{
    color: rgb(30, 100, 30);
    margin-bottom: 0;
}

#botcondo{
    color: rgb(63, 113, 179);
    margin-bottom: 0;
}

#botgrand{
    color:#24135f;
    margin-bottom: 0;
}

#botmeter:hover{
    background-color: #24135f;
    color: white;
}

#botcndo:hover{
    background-color: rgb(30, 100, 30);
    color: white;
}

#botgrnd:hover{
    background-color: rgb(63, 113, 179);
    color: white;
}

/* END OF BOT STYLE */

/* FOOTER */

#footer-container{
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #284195;
    gap: 140px;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}   


#col1{
    padding-left: 50px;
}

#office{
text-transform: uppercase;
font-size: 1rem;
color: #fff;
font-weight: 600;
margin-bottom: 10px;
}


p, #terms{
    font-size: 0.875rem;
    color: #fff;
    line-height: 1.4;
    padding: 0;
    margin-left: 0;
    text-decoration: none;
}

#bullet{
    padding-left: 20px;
    line-height: 1.5;
    font-size: 0.875rem;
}

/* copyright styling */

#ccontainer{
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #001489;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    justify-content: space-between;
    padding: 21px 0 25px;
    padding-left: 80px;
}   

#copy1{
    margin-top: 20px;
}
#copy2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-top: 40px;
}

#chome, #cabout, #cproperties, #cnews, #ccontact{
    color: #fff;
    text-decoration: none;
}

#chome:hover, #cabout:hover, #cproperties:hover, #cnews:hover, #ccontact:hover{
    color: #fff;
    border: .5px solid white;
}

#copyr{
    font-size: 0.75rem;
    color: #fff;
    font-weight: 300;
    text-align: center !important;
    margin-top: 0;
}

#copyrightlogo{
    width: 100px;
    background-color: #fff;

}

#copy3{
    display: flex;
    font-size: 30px;
    margin-left: 0;
    justify-content: space-around;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
}

#copy3 a{
    text-decoration: none;
    color: #fff;
}

#copy3 a:hover{
    color: #051409;
    font-size: larger;
}
#facebook{
    margin-left: 0;
}

/* media query -----------------------------------------------------------------------*/

@media screen and (min-width: 1251px) {

    #menue{
        display: none;
    }

}

/* for tablet screen */
@media screen and (min-width: 870px) and (max-width: 1250px) {
    #nav-bar{
        width: 100%;

    }
    
    #right {
        display: flex;
        justify-content: center;
        align-items: center;
        place-content: center;
        margin-inline: 40% auto;
        flex-wrap: nowrap;

    }
    

    #header-img {
        display: none;
    }

    #menue {
        display: none;
    }

}

@media screen and (max-width: 869px) and (min-width: 620px) {


    #header-img {
       display: none;
    
    }
    
    #nav-bar{
        display: inline-block;
    }
    
    #menue {
        display: none;
    }
    
    #nav-bar #right {
        display: flex;
        justify-content: flex-end;
        margin-inline: 5px; 
        font-size: .7rem;
    }
    
    #brands{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }

    #bottom-brand{
        display: flex;
        flex-wrap: wrap;
    }

    iframe{
        padding-top: 150px;
    }

    footer{
        padding-top: 100px;
    }
    
}
@media screen and (max-width: 619px) and (min-width: 456px){

    body{
        width: 100%;
        height: 100vh;
    }
    
    #nav-bar{
        width: 100%;
        display: inline-block;

    }

    #menue{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 3rem;
    
    }

    #header-img {
        display: none;
    }

    #nav-bar #right {
        display: none
    }


    #brands{
        display:flex ;
        flex-wrap: wrap;
        padding-bottom: 200px;
    }
    #bgprop{
        height: 200px;
    }

    #video{
        padding-top: 200px;
    }
    #bottom-brand{
        display: none;
    }

    #address{
        display: none;
    }

    #copy3, #copy1{
        display: none;
    }

    #ccontainer, #copy2{
        padding-left: 0;
        padding-top: 0;
    }

}
